CONTENTFUL_SPACE_ID=test
CONTENTFUL_ACCESS_TOKEN=test
CONTENTFUL_PREVIEW_ACCESS_TOKEN=test
CONTENTFUL_PREVIEW_SECRET=test
REVALIDATE_SECRET_TOKEN=test
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_VERSION=v2.0.1